{% extends "::base.html.twig" %}
{% block body %}
    <ul>
        <li><h2><a href="{{ path('me_test_default_counter') }}" >#Demo 1 (Counter)</a></h2></li>
        <li><h2><a href="{{ path('me_test_default_mail') }}" >#Demo 2 (Mail)</a></h2></li>
        <li><h2><a href="{{ path('me_test_default_calculator') }}" >#Demo 3 (Calculator)</a></h2></li>
    </ul>
{% endblock %}
